# Output Visualization

In [33]:
import pandas as pd
import numpy as np
import xgboost as xgb
import seaborn as sns
from scipy.stats import skew, boxcox
from scipy import sparse
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.model_selection import train_test_split
import time
import matplotlib.pyplot as plt
%matplotlib inline

In [34]:
df_fnl = pd.read_csv('../data/final_submission.csv')
df_ipt = pd.read_csv('../data/input_proc2.csv') # with original label
test = pd.read_csv('../ProjectFiles/File3.csv')

In [35]:
df = pd.concat([df_ipt, test.State, df_fnl.Classification_1_0], axis=1)

In [36]:
col = ['State','f9','f84','f89','f29','f83', 'Classification_1_0']
df = df[col]

In [37]:
df.head()

  State        f9       f84       f89       f29       f83  Classification_1_0
0    AK  6.125825  0.066530  0.306295  0.238025  0.025146                   0
1    AK  6.125825  0.102386  0.317804  0.139134  0.000000                   1
2    AK  6.125825  0.092216  0.268556  0.155473  0.000000                   0
3    AK  6.125825  0.072337  0.230166  0.203380  0.014251                   0
4    AK  6.125825  0.055019  0.365138  0.212151  0.007276                   1

In [38]:
df_mean = df.groupby(['State'], as_index=False).mean()
df_mean.head(10)

  State        f9       f84       f89       f29       f83  Classification_1_0
0    AK  6.125825  0.086737  0.238592  0.144546  0.012929            0.250000
1    AL  7.379929  0.080242  0.301863  0.116338  0.014177            0.024272
2    AR  6.220729  0.082101  0.342932  0.104198  0.013801            0.138504
3    AZ  7.441420  0.076141  0.237709  0.118097  0.008631            0.529730
4    CA  4.428548  0.082207  0.208927  0.111361  0.011645            0.585895
5    CO  5.160170  0.079007  0.222160  0.120632  0.009640            0.487062
6    CT  5.436172  0.071007  0.273092  0.125888  0.008600            0.332703
7    DC       NaN  0.107139  0.196189  0.093029  0.003297            0.401575
8    DE  4.756171  0.078221  0.305265  0.127606  0.010941            0.050000
9    FL  6.398406  0.076033  0.296448  0.112862  0.009121            0.235415

In [39]:
df_mean.to_csv("../data/output_visual.csv", index=False)